:root {
    --bg-header: #b8cb21;
    --nav-text: #475e2a;
    --title-text: #c9d764;
    --bg-btn: #b5cb24;
}
@font-face {
    font-family: Oswald;
    src: url("../font/oswald/Oswald-Regular.ttf");
}
body{
    margin: 0;
    background-image: url("../img/fond.png");
}
.container{
    max-width: 750px;
    background-color: white;
    margin: auto;
    overflow: auto;
    padding-bottom: 20px;
}
header>nav>ul>li{

    display: inline-block;
    margin: 10px;
    
}
a{
    font-family: Oswald;
    color: #475e2a;
}
nav{
    float: right;
    margin: 35px 30px 0px 0px;
    font-size: 1.3em;
}
header{
    background-color: #b8cb21;
}
section{
    margin: 40px 20px 40px 30px;
}
h2{
    font-family: Oswald;
    color: #b5cb24;
}
section>img{
    width: 30%;
    float: left;
    margin-right: 20px;
}
button{
    color: white;
    background-color: #b5cb24;
    padding: 10px;
    border: none;
    float: right;

}
footer>img{
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    width: 50px;
}
footer>p{
    text-align: center;
    margin: 0px 20px;
}
